$buttoncolor: #1c7c1c;
$buuttonbackcolor: #767c76;
$fontonelements: #fff; 

* {
	box-sizing:border-box;
}
body {
	width: 100%;
	margin: 0 auto;
}
.toplogo {
	// background-color: pink;
	height: 60px;
	margin: 0px;

	img {
		margin: 0px 300px;
	}
}
nav {
	background-color: black;
	height: 30px;
	display: flex;
	
	ul {
		color: $fontonelements;
		list-style: none;
		text-transform: uppercase;
		text-align: center;
		display: inline-block;
		margin: 0 auto;

		li {
			background: $buttoncolor; 
			display: inline-block;
			text-align: center;
			padding: 5px;
			height: 30px;
			margin: 0px -3px 0px 0px;

			i {
				padding: 0 5px;
			}
		}
		li:hover {
			background:$buuttonbackcolor;	 
		}
	}
	.telephone {
		@extend ul;
		padding: 0px;
	}
}